/**************************************************
	Project 'Portland', 2014
	Last update: 15.08.2014
	Author: Alexandr Kirikovich, Russia, Rostov-on-Don | www.wemakesites.ru

	Was used: Stylus, Nib, Grunt
**************************************************/

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}
.page-header {
  margin-bottom: 20px;
}
.page-header .page-header-toggler,
.page-header .page-header-menu,
.page-header .page-header-menu,
.page-header .page-header-social {
  display: none;
}
.page-header .page-header-logo {
  margin: 0 auto;
  display: block;
  width: 142px;
  height: 98px;
  text-decoration: none;
}
.page-header .page-header-logo .page-header-logo-image {
  display: block;
  border: none;
}
.page {
  padding: 10px 15px;
}
.page-main-aside {
  display: none;
}
.page-footer {
  padding: 20px 15px 20px 15px;
}
.page-footer .page-footer-inner {
  padding-top: 20px;
  border-top: 2px dotted #b89e75;
}
.page-footer .page-footer-inner .page-footer-row {
  display: none;
}
.page-footer .page-footer-inner .page-footer-row:first-child {
  display: block;
}
.page-footer .page-footer-inner .page-footer-row .page-footer-item--small {
  display: none;
}
.page-footer .page-footer-inner .page-footer-row .page-footer-item .page-footer-item-info {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.page-footer .page-footer-inner .page-footer-row .page-footer-item .page-footer-item-info .page-footer-item-info-item {
  display: inline-block;
  padding: 0 30px;
}
.page-footer .page-footer-inner .page-footer-row .page-footer-item .page-footer-item-info .page-footer-item-info-item:last-child {
  padding-right: 0;
}
.page-footer .page-footer-inner .page-footer-row .page-footer-item .page-footer-item-info .page-footer-item-info-item:first-child {
  padding-left: 0;
}
.page-footer .page-footer-inner .page-footer-row .page-footer-item .page-footer-item-info .page-footer-item-info-item a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.calculator-page-heading {
  margin-bottom: 20px;
}
.calculator-page-heading .calculator-page-heading-name {
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 2px dotted #b89e75;
  font-size: 32px;
  font-weight: normal;
}
.calculator-page-heading .calculator-page-heading-back {
  display: none;
}
.calculator-list {
  width: 100%;
}
.calculator-list .calculator-item td {
  vertical-align: middle;
  padding: 10px 30px 10px 0;
}
.calculator-list .calculator-item td.calculator-item-close-holder {
  display: none;
}
.calculator-list .calculator-item td.calculator-item-price-holder {
  font-size: 16px;
  color: #9e241f;
}
.calculator-list .calculator-item td.calculator-item-summary-holder {
  font-size: 16px;
  font-weight: bold;
}
.calculator-list .calculator-item td.calculator-item-quantity-holder .calculator-item-quantity {
  background: none;
  border: none;
  outline: none;
  font-family: Arial;
  font-size: 14px;
  color: #000;
  text-align: center;
}
.calculator-list .calculator-footer .calculator-footer-info {
  padding: 10px 0;
}
.calculator-list .calculator-footer .calculator-footer-info .calculator-footer-info-print {
  display: none;
}
.calculator-list .calculator-footer .calculator-footer-info .calculator-footer-info-summary {
  padding-right: 30px;
  font-size: 18px;
  text-align: right;
}
.calculator-list .calculator-footer .calculator-footer-info .calculator-footer-info-summary .calculator-footer-info-summary-title {
  padding-right: 5px;
}
.calculator-list .calculator-footer .calculator-footer-info .calculator-footer-info-summary .calculator-footer-info-summary-value {
  font-weight: bold;
}
